.body{
    padding-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.head{
    display:flex;
    justify-content: space-between;
    margin-top: 30px;
}
.searchbar{
    display: flex;
    justify-content: space-between;
    border-radius:99px;
    border: 1px solid rgb(204, 204,204);
    width: 50%;
    height: 50px;
    margin-right: 220px;
    padding-left: 8px;
    padding-right: 5px;
}
.icons{
    display: flex;
    margin-top: 17px;
}
.icon{
    margin-right: 16px;
    color: rgb(173, 162, 162);
}
.head2{
    display: flex;
    margin-top:4px;
    color: rgb(173, 162, 162);
    margin-bottom: 2px;
}
.space{
    margin-right: 23px;    
}
.tool{
    padding-left: 190px;
}
.line{
    color: rgb(173, 179, 173);
    width: 100%;
}
.underh{
    color: rgb(173, 162, 162);
    font-size:100;
}
.portu{
    display: flex;
    margin-top:0px;
}
.bold{
    font-size: 30px;
    margin: 0px;
}
.ellipsis{
    margin-top: 10px;
    margin-left: 30px;
}
.button{
    border-radius: 99px;
    background-color: rgb(204, 204, 204);
    border: none;
    margin-left: 30px;
    margin-top: 30px;
    padding:15px;
    color: rgb(36, 36, 247);
    display:flex;
    justify-content: center;
}
.but{
    border-radius: 99px;
    background-color: rgb(147, 147, 243);
    border: 1px solid black;
    margin-left: 30px;
    margin-top: 30px;
    padding: 15px;
    color: rgb(36, 36, 247);
}

.christain{
    display: flex;
}
.bod{
    display: flex;
}
.roplay{
 border-top-left-radius: 15px;
 border-top-right-radius: 15px; 
}
.ronaldos{
    display: flex;
    border-radius: 60px;
}
.ronaldo1{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.ronaldo2{
    display: flex;
    flex-direction: column;
}
.ronaldo3{
    margin-top: -80px;
}
.imageicon{
    margin-top: -33px;
    padding-left: 210px;
    color: white;
}
.portuguese{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(204, 204,204);
    border-radius: 15px;
    margin-left: 2.5rem;
}
.countrylogo{
    display: flex;
}
.tim{
    font-size: small;
    font-weight: bolder;
    padding-left: 7px;  
    color:rgb(39, 38, 38);
}
.age{
    margin-left:2.5rem;
    border:1px solid;
    border-radius: 15px;
    color: rgb(36, 36, 247);
    background-color: rgb(147, 147, 243);
}
.networth{
    margin-left:2.5rem;
    border:1px solid rgb(204, 204,204);
    border-radius: 15px;
}
.mirror{
    display: flex;
    justify-content: space-between;
}
.net{
    font-size: small;
    font-weight: bolder;
    padding-left: 7px;
    color:rgb(39, 38, 38);
    padding-bottom: 2rem;
}
.http{
    display: flex;
    color: #464545;
}
.marc{
    color: red;
}
.camp{
    color:blue;
}
.whole{
    display: flex;
    justify-content: space-between;
    height:100px;
} 
.button2{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(204, 204,204);
}
.bold{
    color: black;
}
.acting{
    margin-left: 60px;
    border-left: 1px solid rgb(204, 204,204);
    padding-left: 10px;
    width:30%;
} 
.beside{
    display: flex;
    border-bottom: 1px solid rgb(204, 204,204);    
}
.image{
    /* padding-left: 15px; */
    border-radius: 1rem;
    margin-top:9px;
}
.tough{
    display: flex;
    border-top: 1px solid rgb(204, 204,204);
    margin-top: 0px;
}
.col{
    display: flex;
    flex-direction:column;
}
.football{
    margin-left: 20px;
    border-left: 1px solid rgb(204, 204,204);
    padding-left: 8px;
}
.shift{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    border-left: 1px solid rgb(204, 204,204);
    padding-left: 8px;
}
.apart{
    display: flex;
    border-right: 1px solid rgb(204, 204,204);
    border-bottom: 1px solid rgb(204, 204,204);
    width: 70%;
}
.bother{
    border-bottom: 1px solid rgb(204, 204,204);
}
.table{
    border-bottom: 1px solid rgb(204, 204,204);
    display: flex;
    justify-content: space-between;
}
.social{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(204, 204,204);
}

.font{
    font-size: small;
    color:rgb(173, 179, 173);
}
.brood{
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
}
button{
    border-radius: 99px;
    background-color: rgb(204, 204, 204);
    display: flex;
    align-items: center;
}
.center{
    display: flex;
    justify-content: center;
}
.cent{
    display: flex;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    
}
.morenews{
    display: flex;
    /* justify-content: center; */
    border-bottom: 1px solid rgb(204, 204, 204);
   margin-right: 60px;
    margin-top: 8px;
}
.question{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(204, 204, 204);
}
.maintain{
    width: 65%;
    margin-top: 55rem;
}
.v{
    margin-bottom: 0px;
}
.vid{
    display: flex;
}
.hundred{
    margin-top: 5px;
    color: rgb(204, 204, 204);
    padding-top: 10px;
    padding-left: 7px;
}
.hun{
    border-radius: 9px;
}
.page{
    border-bottom: 1px solid rgb(204, 204, 204);
}
.part{
    display: flex;
    justify-content: space-between;
}
.rgb{
    color:rgb(73, 71, 71);
    padding-left: 6px;
}
.merge{
    margin-right: 60px;
}
.time{
    border-radius: 99px;
    color: white;
    background-color: rgb(173, 162, 162);
    /* padding-right: 2px;
    padding-left: 2px; */
    margin-right: 60px;
margin-top: 0px;
margin-bottom: 6px;
}
.cenn{
    display: flex;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 0px;
}
.tabs{
    display: flex;
}
.tab{
    border: 1px solid rgb(204, 204, 204);
    border-radius: 20px;
    /* padding-left: 8px; */
}
.end{
    display: flex;
    justify-content: last baseline;
    padding-top: 70px;
}
.small{
    font-size: small;
    color: #464545;
    margin-top: 0px;
}
.cam{
    margin-top: 0px;
    color: blue;
    padding-bottom: 0px;
}
.https{
    display: flex;
    justify-content: space-between;
    color: #464545;
    border-top: 1px solid rgb(204, 204, 204);
}
.phone{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(204, 204, 204);
    padding-top: 20px;
}
.phones{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
    padding-top: 20px;
}
.ima{
    border-radius:7px;
}
.immage{
    display: flex;
}
.liinn{
    display: flex;
    justify-content: flex-end;
}
.mag{
    padding-top: 13px;
    padding-right: 6px;
}
.lass{
    display: flex;
    justify-content: space-between;
}
.button3{
    border-radius: 75px;
    background-color: rgb(204, 204, 204);
    display: flex;
    align-items: center;
    padding-left:70px;
    padding-right: 70px;
    width: 50%;
}
.cennn{
    display: flex;
    justify-content: center;
    /* padding-left: 100px;
    padding-right: 100px;
    margin-top: 0px; */
}
.goog{
    
    margin-bottom: 0px;
}
.google{
    display: flex;
   flex-direction:column;
}
.numberrs{
    margin-top: 0;
    padding-left: 30px;
    
}
.foot{
    display: flex;
    padding-left:50px;
}
.nigeria{
    border-right: 1px solid rgb(204, 204, 204);
    
}
footer{
    background-color: rgb(173, 179, 173);
    padding-left: 0px;
}
.gb{
    padding-left: 50px;
    color: rgb(68, 63, 63);
}
